<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    
    <link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/Content/Css/global.css")" />
    <link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/Content/Css/pages.css")" />
    
    <script type="text/javascript" src="@Url.Content("~/Content/Js/jquery-1.6.1.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Js/modernizr-1.7.min.js")"></script>
    
    <!--[if lt IE 9]>
    <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
    <![endif]-->

    <!--[if lte IE 9]>
	    <script src="@Url.Content("~/Content/Js/ie6.warning.js")"></script>
	    <script type="text/javascript">
		    jQuery(function(){
			    e('Imagens/browser/')
                $('div#_l').click(function() { $(this).remove(); $('div#_d').remove(); });
		    })
	    </script>
    <![endif]-->
</head>

<body>
    <div id="cols"></div>

    <div id="wrapper">
	
        @Html.Partial("_Header")
	
	    <div id="content">
		    <div class="top"></div>
		
		    <!-- Conteúdo -->
		    <div class="w960 center">
                @Html.Action("Status", "Jogador")
                        
                @RenderBody()
		    </div>
		    <!-- /Conteúdo -->
		
		    <div class="bottom"></div>
	    </div>
	
        @Html.Partial("_Footer")

    </div>

    <script type="text/javascript" src="@Url.Content("~/Content/Js/jquery.corner.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Js/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Js/jquery.extensions.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Js/functions.js")"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
